// define "content" //
<form action="/search" method="get">
  <input name="query" type="text" placeholder="Query">
  <button type="submit">Search</button>
</form>

<form action="/add" method="post">
  <input name="website" type="text" placeholder="Website">
  <button type="submit">Add</button>
</form>

<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>#Grams</th>
      </tr>
    </thead>
    <tbody>
// range . //
    <tr>
      <td>// .Location //</td>
      <td>// .GramsLen //</td>
    </tr>
// end //
  </tbody>
</table>
// end //
